name: cleanup branches
on:
  schedule:
  - cron: '0 0 * * *'

jobs:
  remove-stale-branches:
    name: remove stale branches
    runs-on: ubuntu-latest
    steps:
      - uses: fpicalausa/remove-stale-branches@v2.1.2
        with:
          dry-run: false
          days-before-branch-stale: 60
          exempt-branches-regex: ^(main|dev|test)$
          exempt-protected-branches: true
          operations-per-run: 100